@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF8F3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #333;
}

p {
  color: #666;
}

a {
  color: #405D72;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 20px;
  text-align: justify;
  width: 100%;
  color:#333;
}