@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Change to column to allow top to bottom flow */
  overflow-x: hidden;
  max-width: 1920px;
}

.text-aboutpage {
  color: #333;
  text-align: center;
  
}

a {
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 20px;
  text-align: justify;
  width: 100%;
  color:#333;
}

/* NAVIGATION BAR */

.navbar {
  background-color: #fffcfc;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-list li {
  margin-right: 20px;
  position: relative; /* Required for dropdown positioning */
}

.navbar-list a {
  color: rgb(38, 97, 165);
  text-decoration: none;
  padding: 10px;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

.navbar-list a:hover {
  background-color: #c5c0c0;
  transition: background-color 0.3s;
}

.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #d4d4d4;
  display: none;
}

.dropdown-menu li {
  margin: 0;
}

.dropdown-menu a {
  padding: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 768px) {
  .navbar-list {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-list li {
    width: 100%;
  }
}