.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip-icon {
    margin-left: 5px;
    background-color: #ddd;
    border-radius: 50%;
    padding: 0 5px;
    font-size: 0.8em;
    color: #333;
    display: inline-block;
    text-align: center;
  }
  
  .tooltip-box {
    display: none;
    position: absolute;
    bottom: 120%; /* Position above the text */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(38, 97, 165);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    z-index: 1;
    white-space: nowrap;
    font-size: 0.75em;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip-container:hover .tooltip-box {
    display: block;
    opacity: 1;
  }